<div class="d-flex flex-column flex-shrink-0 p-3 ma-5 text-bg-dark h-100">
  <ul class="nav nav-pills flex-column mb-auto">
    <% Category.all.each do |category| %>
    <li class="nav-item">
      <% if @title == category.title %>
        <%= link_to category.title, category ,class: 'nav-link text-white active'%>
        <% else %>
      <%= link_to category.title, category ,class: 'nav-link text-white'%>
        <% end %>
    </li>
    <% end %>
  </ul>
</div>