# Ignore bundler config.
/HW7/Articles/.bundle

# Ignore all logfiles and tempfiles.
.idea
.idea/
/HW7/Articles/log/*
/HW7/Articles/tmp/*
/HW7/Articles!/log/.keep
/HW7/Articles!/tmp/.keep
.byebug_history

# Ignore pidfiles, but keep the directory.
/HW7/Articles/tmp/pids/*
/HW7/Articles!/tmp/pids/
/HW7/Articles!/tmp/pids/.keep

# Ignore uploaded files in development.
/HW7/Articles/storage/*
!/HW7/Articles/storage/.keep
/HW7/Articles/tmp/storage/*
!/HW7/Articles/tmp/storage/
!/HW7/Articles/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
/HW5/Articles/config/master.key
/HW6/Articles/config/master.key
/HW7/Articles/config/master.key
/HW8/Articles/config/master.key
/HW5/Articles/config/database.yml
/HW6/Articles/config/database.yml
/HW6/Articles/config/database.yml
/HW7/Articles/config/database.yml
/HW8/Articles/config/database.yml