
<div id="product" class="container-fluid p-4 text-center text-bg-dark">
  <div class="row justify-content-center">
    <h1>Cart</h1>
      <% if current_user && current_cart.line_items.any? %>
        <%= render 'carts/layouts/cart' %>
      <%= button_to 'Place order', orders_path, class: 'btn btn-success mt-4' %>
      <% else %>
        <p>Currently no product in the cart</p>
      <% end %>
    <%= button_to 'Order_history',orders_path, class:'btn btn-secondary mt-4', method: :get %>
  </div>
</div>


