<div class="container">
  <div class="container-fluid p-4 text-center text-bg-dark">
    <div class="row">
    <%= render @product %>
      <div class="mt-4">
        <%= link_to "Back to products", products_path %>
      </div>
    </div>
  </div>
</div>
