<div class="container">
  <div class="container-fluid p-4 text-center text-bg-dark">
    <div class="row">
      <% @category.each do |category| %>
        <%= render category %>
      <% end %>
    </div>
  </div>
</div>